
<section class='all-gifs'>
  <% @gifs.each do |gif| %>
  <div class="gif-thumbnail">
    <div class='category-gif-thumbnail' id="gif<%=gif.id%>">
      <img class='gif' src="<%= gif.image_path %>" alt="<%=gif.id %>">
    </div>
  </div>
  <%end%>
</section>
