<h1>Gifs</h1>
<% if current_user.admin? %>
<%= link_to 'Add New Gif', new_admin_gif_path %>
<% end %>

<% @gifs.each do |gif| %>
  <div id="gif-<%= gif.id%>">
    <%= link_to image_tag(gif.image_path, alt: gif.id), gif_path(gif)%>

    <%= link_to 'Delete', admin_gif_path(gif), method: 'delete' %>
  </div>
<%end%>
