/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: pink;
  font-family: serif;

}

nav {
  width: 100vw;
  background-color:grey;
  height: 30%;
}

nav a {
  text-decoration: none;
  color: white;
}

.big-nav {
  font-size: 1.5em;
  padding: .5em;
}

.logger {
  float: right;
  padding-right: 1.5em;
}

 #index-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 33.33%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

.user-login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 250px;
}

section {
  margin: auto;
  padding: 10px;
}

section#login form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section#login form div{
  margin-bottom: 10px;
}

section#login {
  background-color: grey;
  color: white;
}

section.all-gifs {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.gif-thumbnail {
  width: 18%;
  padding: 5px;
}

.gif {
  width: 200px;
  height: 200px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
